# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Logs in general
*.log

# Ignore binary builds
cmd/cmd

# Ignore Vedored Packages
#vendor/*/

# VS Code
.vscode/
